.Navbar {
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    border-bottom: 1px black solid;
    
}
.Navbar > .header {
    margin-bottom: 0;
    margin-right: 2rem;
    align-self: center;
}
.Navbar > .header:first-child {
    margin-top: 0;
}

.Version {
    /* justify-self: self-end; */
    align-self: center;
}